In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## Data Preparation

In [2]:
def read_data(path):  #? date_col is a list

    data = pd.read_csv(path,
                            infer_datetime_format=True,
                            on_bad_lines='warn',
                            skip_blank_lines=True)

    try:
        df = data.sort_index()
        #df = df.drop(columns=date_col)
    except:
        print("Unexpected error:", sys.exc_info()[0])

    print(df)
    print('\n', df.dtypes)
    return df

In [9]:
def nan(df):
    print("Process Nan...")
    df_numeric = df.select_dtypes(include=[np.number])
    numeric_cols = df_numeric.columns.values
    for col in numeric_cols:
        pct_missing = np.mean(df[col].isnull())
        print('{} - {}%'.format(col, round(pct_missing*100)))
        if (pct_missing < 4) and (type(df[col]) == int) | (type(df[col]) == float):                                             #* if NaN < 4% : replace by median
            med = df[col].median()
            df[col] = df[col].fillna(med)
        if pct_missing >= 20:                                           #* if NaN > 20% : drop features
            df = df.drop(columns=[col])
        if (pct_missing < 20) & (pct_missing >= 4) :                    #* if NaN < 20% & > 4% : drop lines
            df = df.dropna(subset=[col])

    df_non_numeric = df.select_dtypes(exclude=[np.number])              #* Repeat process with non numerics variables
    non_numeric_cols = df_non_numeric.columns.values
    for col in non_numeric_cols:
        pct_missing = np.mean(df[col].isnull())
        print('{} - {}%'.format(col, round(pct_missing*100)))
        if pct_missing < 4:
            med = df[col].median()
            df[col] = df[col].fillna(med)
        if pct_missing >= 20:
            df = df.drop(columns=[col])
        if pct_missing < 20 :
            df = df.dropna(subset=[col])
    print(df.shape)
    return df

def fix_typos(df):
    print("Fixing Typos...")
    obj = [col  for col, dt in df.dtypes.items() if dt == object]
    for col in obj:
        df[obj] = df[obj].str.replace(',', '.')
        df[obj] = df[obj].str.upper()
        df[obj] = df[obj].str.strip()
    print(df.shape)
    return df

def multiple_format(df, mult_var=None):                                 #* mult_var is a list
    print("Encoding categorical varible(s)...")
    if mult_var is not None:
        pd.get_dummies(data=df, columns=mult_var)
    print(df.shape)
    return df

def normalization(df):
    # TODO MinMaxScaler

def suppressOutliers(df):
    # TODO IsolationForest

In [10]:
def data_prep(df, mult_var=None):
    df = df.drop_duplicates(keep='last')            #* Keep only most recent duplicatas
    #df = fix_typos(df)                              #* Set a good typos for categorical features
    df = multiple_format(df, mult_var=None)         #* Encode categorical variables 
    df = df.convert_dtypes()                        #* Assign good type for the modelling phase
    df = df.select_dtypes(exclude=['object'])       #* Remove Object and String columns who are irrelevant
    #df = nan(df)                                    #* Process empty values based on several conditions
    df = df.convert_dtypes()                        #* Assign good type for the modelling phase
                                                    # TODO: Verify order of functions and add Outliers Removal
    print('\n', df.dtypes)
    return df

Encoding categorical varible(s)...
(307511, 122)

 SK_ID_CURR                     Int64
TARGET                         Int64
NAME_CONTRACT_TYPE            string
CODE_GENDER                   string
FLAG_OWN_CAR                  string
                               ...
AMT_REQ_CREDIT_BUREAU_DAY      Int64
AMT_REQ_CREDIT_BUREAU_WEEK     Int64
AMT_REQ_CREDIT_BUREAU_MON      Int64
AMT_REQ_CREDIT_BUREAU_QRT      Int64
AMT_REQ_CREDIT_BUREAU_YEAR     Int64
Length: 122, dtype: object

In [17]:
from asyncore import read
path = r'..\data\raw\application_train.csv'
train = read_data(path)

data_cleaned = data_prep(train)
data_cleaned = data_cleaned.set_index("SK_ID_CURR")
data_cleaned[['CASH LOANS', 'REVOLVING LOANS']] = pd.get_dummies(data=data_cleaned.NAME_CONTRACT_TYPE)
data_cleaned.drop(columns="NAME_CONTRACT_TYPE")
# get dummies à faire pour toutes les colonnes catégoriques
# drop na pour tous les features

path_test = r'..\data\raw\application_test.csv'
test = read_data(path_test)
data_cleaned2 = data_prep(test)
data_cleaned2 = data_cleaned2.set_index("SK_ID_CURR")
data_cleaned2[['CASH LOANS', 'REVOLVING LOANS']] = pd.get_dummies(data=data_cleaned2.NAME_CONTRACT_TYPE)
data_cleaned2.drop(columns="NAME_CONTRACT_TYPE")
# get dummies à faire pour toutes les colonnes catégoriques
# drop na pour tous les features

data_cleaned.to_csv("../data/processed/application_train.csv")
data_cleaned2.to_csv("../data/processed/application_test.csv")

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  AMT_GOODS_PRICE NAME_TYPE_SUITE      NAME_INCOME_TYPE  \
0           24700.5         351000.0   Unaccompanied               Working
1           35698.5        1129500.0          Family         State servant
2            6750.0         135000.0   Unaccompanied               Working
3           29686.5         297000.0   Unaccompanied               Working
4           21865.5         513000.0   Unaccompanied               Working
...             ...              ...             ...                   ...
307506      27558.0         225000.0   Unaccompanied               Working
307507      12001.5         225000.0   Unaccompanied             Pensioner
307508      29979.0         585000.0   Unaccompanied               Working
307509      20205.0         319500.0   Unaccompanied  Commercial associate
307510      49117.5         675000.0   Unaccompanied  Commercial associate

                  NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  \
0       Secondary / secondary special  Single / not married
1                    Higher education               Married
2       Secondary / secondary special  Single / not married
3       Secondary / secondary special        Civil marriage
4       Secondary / secondary special  Single / not married
...                               ...                   ...
307506  Secondary / secondary special             Separated
307507  Secondary / secondary special                 Widow
307508               Higher education             Separated
307509  Secondary / secondary special               Married
307510               Higher education               Married

        NAME_HOUSING_TYPE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0       House / apartment                    0.018801       -9461
1       House / apartment                    0.003541      -16765
2       House / apartment                    0.010032      -19046
3       House / apartment                    0.008019      -19005
4       House / apartment                    0.028663      -19932
...                   ...                         ...         ...
307506       With parents                    0.032561       -9327
307507  House / apartment                    0.025164      -20775
307508  House / apartment                    0.005002      -14966
307509  House / apartment                    0.005313      -11961
307510  House / apartment                    0.046220      -16856

        DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE  \
0                -637            -3648.0            -2120          NaN
1               -1188            -1186.0             -291          NaN
2                -225            -4260.0            -2531         26.0
3               -3039            -9833.0            -2437          NaN
4               -3038            -4311.0            -3458          NaN
...               ...                ...              ...          ...
307506           -236            -8456.0            -1982          NaN
307507         365243            -4388.0            -4090          NaN
307508          -7921            -6737.0            -5150          NaN
307509          -4786            -2562.0             -931          NaN
307510          -1262            -5128.0             -410          NaN

        FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  \
0                1               1                0                 1
1                1               1                0                 1
2                1               1                1                 1
3                1               1                0                 1
4                1               1                0                 1
...            ...             ...              ...               ...
307506           1               1                0                 1
307507           1               0                0                 1
307508           1               1                0                 1
307509           1               1                0                 1
307510           1               1                1                 1

        FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  CNT_FAM_MEMBERS  \
0                1           0        Laborers              1.0
1                1           0      Core staff              2.0
2                1           0        Laborers              1.0
3                0           0        Laborers              2.0
4                0           0      Core staff              1.0
...            ...         ...             ...              ...
307506           0           0     Sales staff              1.0
307507           1           0             NaN              1.0
307508           0           1        Managers              1.0
307509           0           0        Laborers              2.0
307510           1           0        Laborers              2.0

        REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  \
0                          2                            2
1                          1                            1
2                          2                            2
3                          2                            2
4                          2                            2
...                      ...                          ...
307506                     1                            1
307507                     2                            2
307508                     3                            3
307509                     2                            2
307510                     1                            1

       WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  \
0                       WEDNESDAY                       10
1                          MONDAY                       11
2                          MONDAY                        9
3                       WEDNESDAY                       17
4                        THURSDAY                       11
...                           ...                      ...
307506                   THURSDAY                       15
307507                     MONDAY                        8
307508                   THURSDAY                        9
307509                  WEDNESDAY                        9
307510                   THURSDAY                       20

        REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  \
0                                0                           0
1                                0                           0
2                                0                           0
3                                0                           0
4                                0                           0
...                            ...                         ...
307506                           0                           0
307507                           0                           0
307508                           0                           0
307509                           0                           0
307510                           0                           0

        LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  \
0                                 0                       0
1                                 0                       0
2                                 0                       0
3                                 0                       0
4                                 0                       0
...                             ...                     ...
307506                            0                       0
307507                            0                       0
307508                            0                       0
307509                            0                       1
307510                            0                       0

        REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  \
0                            0                        0
1                            0                        0
2                            0                        0
3                            0                        0
4                            1                        1
...                        ...                      ...
307506                       0                        0
307507                       0                        0
307508                       1                        1
307509                       1                        0
307510                       1                        1

             ORGANIZATION_TYPE  EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3  \
0       Business Entity Type 3      0.083037      0.262949      0.139376
1                       School      0.311267      0.622246           NaN
2                   Government           NaN      0.555912      0.729567
3       Business Entity Type 3           NaN      0.650442           NaN
4                     Religion           NaN      0.322738           NaN
...                        ...           ...           ...           ...
307506                Services      0.145570      0.681632           NaN
307507                     XNA           NaN      0.115992           NaN
307508                  School      0.744026      0.535722      0.218859
307509  Business Entity Type 1           NaN      0.514163      0.661024
307510  Business Entity Type 3      0.734460      0.708569      0.113922

        APARTMENTS_AVG  BASEMENTAREA_AVG  YEARS_BEGINEXPLUATATION_AVG  \
0               0.0247            0.0369                       0.9722
1               0.0959            0.0529                       0.9851
2                  NaN               NaN                          NaN
3                  NaN               NaN                          NaN
4                  NaN               NaN                          NaN
...                ...               ...                          ...
307506          0.2021            0.0887                       0.9876
307507          0.0247            0.0435                       0.9727
307508          0.1031            0.0862                       0.9816
307509          0.0124               NaN                       0.9771
307510          0.0742            0.0526                       0.9881

        YEARS_BUILD_AVG  COMMONAREA_AVG  ELEVATORS_AVG  ENTRANCES_AVG  \
0                0.6192          0.0143           0.00         0.0690
1                0.7960          0.0605           0.08         0.0345
2                   NaN             NaN            NaN            NaN
3                   NaN             NaN            NaN            NaN
4                   NaN             NaN            NaN            NaN
...                 ...             ...            ...            ...
307506           0.8300          0.0202           0.22         0.1034
307507           0.6260          0.0022           0.00         0.1034
307508           0.7484          0.0123           0.00         0.2069
307509              NaN             NaN            NaN         0.0690
307510              NaN          0.0176           0.08         0.0690

        FLOORSMAX_AVG  FLOORSMIN_AVG  LANDAREA_AVG  LIVINGAPARTMENTS_AVG  \
0              0.0833         0.1250        0.0369                0.0202
1              0.2917         0.3333        0.0130                0.0773
2                 NaN            NaN           NaN                   NaN
3                 NaN            NaN           NaN                   NaN
4                 NaN            NaN           NaN                   NaN
...               ...            ...           ...                   ...
307506         0.6042         0.2708        0.0594                0.1484
307507         0.0833         0.1250        0.0579                0.0202
307508         0.1667         0.2083           NaN                0.0841
307509         0.0417            NaN           NaN                   NaN
307510         0.3750            NaN           NaN                   NaN

        LIVINGAREA_AVG  NONLIVINGAPARTMENTS_AVG  NONLIVINGAREA_AVG  \
0               0.0190                   0.0000             0.0000
1               0.0549                   0.0039             0.0098
2                  NaN                      NaN                NaN
3                  NaN                      NaN                NaN
4                  NaN                      NaN                NaN
...                ...                      ...                ...
307506          0.1965                   0.0753             0.1095
307507          0.0257                   0.0000             0.0000
307508          0.9279                   0.0000             0.0000
307509          0.0061                      NaN                NaN
307510          0.0791                      NaN             0.0000

        APARTMENTS_MODE  BASEMENTAREA_MODE  YEARS_BEGINEXPLUATATION_MODE  \
0                0.0252             0.0383                        0.9722
1                0.0924             0.0538                        0.9851
2                   NaN                NaN                           NaN
3                   NaN                NaN                           NaN
4                   NaN                NaN                           NaN
...                 ...                ...                           ...
307506           0.1008             0.0172                        0.9782
307507           0.0252             0.0451                        0.9727
307508           0.1050             0.0894                        0.9816
307509           0.0126                NaN                        0.9772
307510           0.0756             0.0546                        0.9881

        YEARS_BUILD_MODE  COMMONAREA_MODE  ELEVATORS_MODE  ENTRANCES_MODE  \
0                 0.6341           0.0144          0.0000          0.0690
1                 0.8040           0.0497          0.0806          0.0345
2                    NaN              NaN             NaN             NaN
3                    NaN              NaN             NaN             NaN
4                    NaN              NaN             NaN             NaN
...                  ...              ...             ...             ...
307506            0.7125           0.0172          0.0806          0.0345
307507            0.6406           0.0022          0.0000          0.1034
307508            0.7583           0.0124          0.0000          0.2069
307509               NaN              NaN             NaN          0.0690
307510               NaN           0.0178          0.0806          0.0690

        FLOORSMAX_MODE  FLOORSMIN_MODE  LANDAREA_MODE  LIVINGAPARTMENTS_MODE  \
0               0.0833          0.1250         0.0377                 0.0220
1               0.2917          0.3333         0.0128                 0.0790
2                  NaN             NaN            NaN                    NaN
3                  NaN             NaN            NaN                    NaN
4                  NaN             NaN            NaN                    NaN
...                ...             ...            ...                    ...
307506          0.4583          0.0417         0.0094                 0.0882
307507          0.0833          0.1250         0.0592                 0.0220
307508          0.1667          0.2083            NaN                 0.0918
307509          0.0417             NaN            NaN                    NaN
307510          0.3750             NaN            NaN                    NaN

        LIVINGAREA_MODE  NONLIVINGAPARTMENTS_MODE  NONLIVINGAREA_MODE  \
0                0.0198                       0.0              0.0000
1                0.0554                       0.0              0.0000
2                   NaN                       NaN                 NaN
3                   NaN                       NaN                 NaN
4                   NaN                       NaN                 NaN
...                 ...                       ...                 ...
307506           0.0853                       0.0              0.0125
307507           0.0267                       0.0              0.0000
307508           0.9667                       0.0              0.0000
307509           0.0063                       NaN                 NaN
307510           0.0824                       NaN              0.0000

        APARTMENTS_MEDI  BASEMENTAREA_MEDI  YEARS_BEGINEXPLUATATION_MEDI  \
0                0.0250             0.0369                        0.9722
1                0.0968             0.0529                        0.9851
2                   NaN                NaN                           NaN
3                   NaN                NaN                           NaN
4                   NaN                NaN                           NaN
...                 ...                ...                           ...
307506           0.2040             0.0887                        0.9876
307507           0.0250             0.0435                        0.9727
307508           0.1041             0.0862                        0.9816
307509           0.0125                NaN                        0.9771
307510           0.0749             0.0526                        0.9881

        YEARS_BUILD_MEDI  COMMONAREA_MEDI  ELEVATORS_MEDI  ENTRANCES_MEDI  \
0                 0.6243           0.0144            0.00          0.0690
1                 0.7987           0.0608            0.08          0.0345
2                    NaN              NaN             NaN             NaN
3                    NaN              NaN             NaN             NaN
4                    NaN              NaN             NaN             NaN
...                  ...              ...             ...             ...
307506            0.8323           0.0203            0.22          0.1034
307507            0.6310           0.0022            0.00          0.1034
307508            0.7518           0.0124            0.00          0.2069
307509               NaN              NaN             NaN          0.0690
307510               NaN           0.0177            0.08          0.0690

        FLOORSMAX_MEDI  FLOORSMIN_MEDI  LANDAREA_MEDI  LIVINGAPARTMENTS_MEDI  \
0               0.0833          0.1250         0.0375                 0.0205
1               0.2917          0.3333         0.0132                 0.0787

In [12]:
pd.set_option('display.max_columns', None)
train

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Cash loans,Revolving loans
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,NaN,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0,1,0
456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,1,0

In [ ]:
test